<h1>$hero.name</h1>
<p>Age: $hero.getAge()</p>
<p>Special Power: $hero.getSpecialPower()</p>
<p>Weakness: $hero.getWeakness()</p>
<a href="/hero/delete/$hero.getId()"><button class="btn btn-outline-danger my-2 my-sm-0">Delete $hero.getName()</button></a>