<h1>$squad.getName()</h1>
<p>This squad has a maximum of $squad.getSize()</p>
#if($squad.getHeros().size()>0)
    <p>It currently holds the following Heroes</p>
#else
    <p>It currently has no Heroes</p>
#end

